

body{
    background-color: rgba(221, 23, 89, 0.144);
    text-align: center;
}

button{
    height: 40px;
    width: 70px;
    background-color: rgb(222, 135, 135);
    color: rgba(19, 17, 17, 0.233);
    font-size: 26px;
    border-radius: 10px;
}

#bulb{
    height: 300px;
    
}